<?xml version="1.0" ?>
<sdf version="1.5">
  <model name='pegasus_iris_depth_camera'>
    <include>
      <uri>model://pegasus_iris</uri>
    </include>

    <include>
      <uri>model://depth_camera</uri>
      <pose>0.1 0 0 0 0 0</pose>
    </include>
    <joint name="depth_camera_joint" type="revolute">
      <child>depth_camera::link</child>
      <parent>pegasus_iris::base_link</parent>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <upper>0</upper>
          <lower>0</lower>
        </limit>
      </axis>
    </joint>

  </model>
</sdf>
