<?xml version="1.0" ?>
<model>
    <name>Taguspark Arena</name>
    <version>1.0</version>
    <sdf version="1.6">taguspark_arena.sdf</sdf>
    <author>
        <name>Marcelo Jacinto</name>
        <email>marcelo.jacinto@tecnico.ulisboa.pt</email>
    </author>
    <description>A simple 3D model of the ISR Flying Arena at Taguspark</description>
</model>
