<?xml version="1.0"?>
<model>
  <name>3DR Iris</name>
  <version>1.0</version>
  <sdf version='1.4'>pegasus_iris_fpv.sdf</sdf>

  <author>
   <name>Marcelo Jacinto</name>
   <email>marcelo.jacinto@tecnico.ulisboa.pt</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor modiefied to contain an FPV camera. The original 3D Iris Quadrotor model has been created by
    Thomas Gubler.
  </description>
</model>